.logo-bg {
  background: #fd7670;
  height: 100vh;
}
.logo {
  position: absolute;
  bottom: 30px;
  right: 24px;
  width: 107px;
}
.building {
  max-height: 430px;
}
.logo-container {
  margin-left: 7%;
  width: 85%;
}
.logo-top {
  margin-left: 7%;
}
.login-input {
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.05);
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  margin-top: 35px;
}

.outline-danger {
  border: 1px solid red;
}
